.header {
    background-color: $primary-color;

    &-top {
        padding: 3rem 0;
    }

    &-top .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &-contact {
        font-size: 2.4rem;
        line-height: calc(32 / 24);
        font-weight: 400;
        text-decoration: underline;
        letter-spacing: -0.02em;
        color: $white-color;
        transition: 0.2s all linear;

        &:hover {
            opacity: 0.5;
        }
    }

    &-main {
        display: flex;
        align-items: center;
        padding-top: 15.5rem;
        gap: 3.2rem;
    }

    &-content {
        max-width: 73.5rem;
        width: 100%;
    }

    &-heading {
        font-size: 8.2rem;
        font-weight: 400;
        color: $white-color;
        margin-bottom: 6.8rem;
        line-height: 1.2;

        &-childs {
            display: block;
            text-indent: 150px;
            line-height: 1.2;
        }

        &-child {
            display: block;
            text-indent: 150px;
            letter-spacing: -0.02em;
            line-height: 1.2;
        }
    }

    &-info {
        max-width: 40.7rem;
        width: 100%;
        margin-left: auto;
    }

    &-text {
        font-size: 20px;
        color: $white-color;
        margin-top: 4.7rem;
        opacity: 0.6;
    }

    &-img-small-pc {
        transform: translate(-690px, 80px);
    }

    @media screen and (max-width: 1023.98px) {
        &-contact {
            font-size: 18px;
            margin-left: auto;
        }

        &-main {
            padding-top: 100px;
        }

        &-images {
            transform: translate(0, 78px);
        }

        // &.header-heading-child,
        // .header-heading-childs {
        //     display: none;
        // }
    }

    @media screen and (max-width: 767.98px) {
        &-main {
            flex-direction: column-reverse;
            padding-top: 80px;
            margin-bottom: 80px;
        }

        &-img-small-pc {
            transform: unset;
        }

        &-images {
            transform: translate(0, 78px);
        }

        &-images {
            position: relative;
            align-items: stretch;
            margin-bottom: 50px;
        }

        &-img-small {
            position: absolute;
            right: 15px;
            bottom: 30px;
        }

        &-img-lagre {
            width: 100%;
            max-width: 330px;
        }

        &-heading {
            text-align: center;
            margin-top: 80px;
            font-size: 46px;

            &-child {
                text-indent: unset;
                letter-spacing: unset;
            }

            &-childs {
                text-indent: unset;
                letter-spacing: unset;
            }
        }

        &-text {
            font-size: 18px;
            line-height: calc(30 /18);
            padding-bottom: 57px;
        }

        &-info {
            text-align: center;
            max-width: 360px;
            margin: 0 auto;
            // margin-left: 0;
        }
    }

}

.menu {
    display: flex;
    align-items: center;
    gap: 5rem;
    list-style: none;
    font-size: 1.8rem;

    &-link {
        color: $gray-color;
        opacity: 0.4;
        text-decoration: none;
        transition: all 0.2s linear;

        &:hover {
            opacity: 1;
        }
    }

    &-toggle {
        display: none;
        width: 24px;
        padding: 0;
        margin: 0;
        background-color: transparent;
        cursor: pointer;

        span {
            height: 3px;
            width: 100%;
            background-color: $secondary-color;
        }

        span.line-first {
            width: 55%;
        }
    }

    @media screen and (max-width: 1023.98px) {
        display: none;

        &-toggle {
            display: inline-flex;
            flex-direction: column;
            margin-left: 30px;
            gap: 5px;
        }

    }




}